.card {
  width: 250px;
  border-radius: 14px;
  /* border: 1px solid black; */
  padding: 12px;
  background-color: #f0f0f0;
  transition: 1s;
}
.card-img {
  width: 100%;
  border-radius: 14px;
}
.card:hover {
  background-color: #cbc8c8;
  border: 1px solid black;
  box-shadow: 5px 4px grey;
  transform: rotate(3deg);
  cursor: pointer;
}
